*{
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    width: 100%;
    
    flex-shrink: 0;
    background: #181719;
}
li {
    list-style-type: none;

    padding: 0;
    margin-top: 46px;
    margin-right: 46px;

}

ul {
    padding: 0;
    margin-right: 0;
   
}
.button {
    text-transform: capitalize;


}
button {
    background-color: transparent;
    border: white 1px solid;
    padding: 0;
    margin: 42px;
    width: 102px;
    height: 32px;
    color: white;
    text-align: center;
    font-family: 'Crimson Pro', serif;
    text-transform: capitalize;
}
a {
    
    text-decoration: none;
    color: white;
  

   

}

.nav img {
    height: 44px;
    display: none;
    justify-content: flex-end;
    margin-left: 120px;
    margin-top: 35px;
    background-color: white;
    border-radius: 100px;
    
}
li{ width: 73px;
    height: 22px;}
    


.img img {

    z-index: 10;
    width: 650px;
    height: 500px;
    flex-shrink: 0;   
    margin-right: 44.06px;
}
.content-container {
    color: white;
    display: inline-flex;
    flex-direction:row;
    margin-top: 100px;
    z-index: 40;

    
}
.cont h1, p {
    margin-bottom: 40px;
    margin-left: 77px;
    margin-right: 87px;
}
h1 {
    color: #FFF;
font-family: Lora;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
p {color: #FFF;
    font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;}
.nav, ul, li, a, img{
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
  
}

.name {color: var(--gray-3, #828282);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}
a {

    font-style: normal;
}

.pfp {
    width: 70px;
    height:70px;
    flex-shrink: 0;
    border-radius: 700px; 
    margin-left:14px ;
    margin-top: 8px;
    margin-right: 18px;
    margin-right: 0px;
}
.coment{
    position: absolute;
    width: 410px;
    height: 189px;
    margin-bottom: 0px;
    display: inline-flex;
    left: 75%;
    top: 69%;
   

    z-index: 100;
    background: #181719;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.coment-top {
    display:block;
    margin-left:14px ;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  
}


h3 {
    color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px;
}
 h2{ 
    color: var(--gray-3, #828282);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
h3 {
    margin-top: 30px;
    margin-left: 0px;
    color: #FFF;
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    footer {
        align-items: center;
        color: #828282;
        display: flex;
        justify-content: center;
        margin: 10px;
        margin-top: 200px;
    }

@media only screen and (max-width: 400px)  {
.nav ul {
    display: none;
}
.nav {
    justify-content: flex-start;

    
}
button {
    margin-left: 10px;
    text-transform: capitalize;
}
.nav img {
    height: 44px;
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 120px;
    margin-top: 35px;
    background-color: white;
    border-radius: 100px;
    
}

.img img {

    z-index: 10;
    width: 650px;
    height: 500px;
    flex-shrink: 0;   
    margin-right: 44.06px;
}
.content-container {
    color: white;
    display:block;
    justify-content: left;
    margin-top: 10px;
    z-index: 40;
    margin-left: 10pxs;

    
}
.cont h1, p {
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 87px;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    width: 274px;
    height: 46px;
    top: 88px;
    left: 12px;
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;

    
}
p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    
}
.learn {
    width: 80px;
height: 17px;
top: 269px;
left: 0px;
display: block;
justify-content: start;
margin-left: 16px;
margin-bottom: 10px;
margin-top: 5px;

}
.img img {
    width: 398px;
    height: 264.32159423828125px;
    top: 323px;
    left: 12px;
    }

    .coment{
        position: absolute;
        width:335px;
        height: 189px;
        margin-bottom: 0px;
        display: inline-flex;
        left: 8%;
        top: 65%;
       
    
        z-index: 100;
        background: #181719;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    footer{
        margin-top: 150px;
    }



}